:root {
    --black: #252525;
    --white: #f3f3f3;
    --orange: #ff952B;
    --lighten_orange: #ffa435;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    padding: 0;
    width: 1260px;
    margin: auto;
    filter: drop-shadow(0 0 0 rgb(50, 50, 50));
}


/* background-color: rgb(221, 113, 238); */

h1 {
    text-align: center;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    color: var(--black);
    align-self: top;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: justify;
    color: var(--black);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0;
    padding-right: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slide {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--black);
    padding-bottom: 60px;
    padding-top: 60px;
    filter: drop-shadow(0 0 4px rgb(50, 50, 50));
    border-radius: 0px;
}

.white-slide {
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(rgba(255, 255, 255, 0));
    padding-bottom: 60px;
    padding-top: 60px;
}

.button {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    padding: 0.5rem;
}

.button--block {
    display: block;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards__item {
    padding: 1rem;
    min-width: 39rem;
    width: 33.33333%;
}

.card {
    background-color: var(--white);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* ------------------------------ */

.card_image {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(100%);
    overflow: hidden;
    position: relative;
}

.card_image:hover {
    filter: drop-shadow(0 0 4px rgb(50, 50, 50));
}


/* ------------------------------ */

.card__title {
    color: var(--black);
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    font-size: 24px;
    line-height: 1.5;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.collapsible {
    background-color: var(--orange);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.collapsible:hover {
    background-color: var(--lighten_orange);
}

.content {
    padding: 0 18px;
    background-color: rgb(255, 255, 255, 0);
    /* НЕ СМЕТЬ УДАЛЯТЬ ЭТУ СТРОКУ!!! */
    max-height: 0;
    /* НЕ СМЕТЬ УДАЛЯТЬ ЭТУ СТРОКУ!!! */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.stroke {
    background: var(--white);
    height: auto;
    margin: 30px;
    width: 10px;
}

img {
    position: relative;
    height: 300px;
    margin: 30px;
}

.skillpanel {
    margin: auto;
    text-align: center;
}